body {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.container {
  padding: 1.8rem;
}

/*** Header ***/

.logo,
.contact-icons,
.contact-icon {
  display: inline-block;
}

.logo,
.contact-icons {
  width: 49%;
  display: inline-block;
}
.logo {
  text-align: left;
}
.contact-icons {
  text-align: right;
}
/*** Main ***/

.about-me {
  text-align: center;
  padding-top: 8rem;
}
.about-me .title {
  font-size: 2.5rem;
}
.about-me .description {
  padding-top: 1.2rem;
  font-size: 1.2rem;
}
.about-me .view-portfolio {
  padding-top: 1.8rem;
  font-size: 1.5rem;
}
.arrow-down {
  padding-left: 0.3rem;
}
.portfolio {
  margin-top: 7rem;
}
.projects-list li {
  width: 100%;
  padding-top: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-clip: content-box;
}
.projects-list li:nth-child(odd) a {
  padding: 2rem 0;
  background-clip: content-box;
}
.projects-list li:nth-child(even) a {
  padding: 0 2rem;
  background-clip: content-box;
}
.projects-list a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  background: radial-gradient(#ffdab9 0%, #ffb9bb);
}

@media (min-width: 426px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
  .projects-list li {
    width: 33.33%;
    padding-top: 33.33%;
  }
}
@media (min-width: 1024px) {
  .portfolio {
    max-width: 1200px;
    margin: auto;
  }
}
