body,
html {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}
.project {
  position: relative;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/*** Header ***/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1.2rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.4rem;
}
.logo .r {
  margin-left: -11.4px;
  color: #ffb9bb;
}

.contact-icon {
  display: inline-block;
  padding-left: 0.5rem;
}

/*** Main ***/

.about-me {
  text-align: center;
  padding: 0 1.2rem;
  padding-top: 11rem;
}
.about-me .title {
  font-size: 2rem;
  font-weight: bold;
}
.about-me .description {
  padding-top: 1.2rem;
  font-size: 1.1rem;
}
.about-me .view-portfolio {
  padding-top: 1.8rem;
  font-size: 1.3rem;
}
.arrow-down {
  padding-left: 0.3rem;
}
.portfolio {
  padding: 0 1.3rem;
  margin-top: 7rem;
}
.projects-list li {
  width: 100%;
  padding-top: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-clip: content-box;
  filter: drop-shadow(5px 5px 3px #333);
}

.projects-list li:nth-child(odd) a {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #add8e6 80%, #c1d9c3 80%) content-box;
}
.projects-list li:nth-child(even) a {
  padding: 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #e3b0c8 80%, #f5f3ef 80%) content-box;
}

.project-title {
  padding: 2.5rem;
  font-weight: bold;
  line-height: 160%;
  padding-top: 4rem;
  font-size: 1rem;
  text-transform: uppercase;
  word-spacing: 1000px;
  color: #585454;
}

.footer {
  padding: 3rem 0;
  text-align: center;
  font-size: 1rem;
}

/*** Modal ***/

.project-modal {
  display: none;
  overflow-y: scroll;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
}
.open {
  display: block;
}

.close-modal {
  float: right;
  padding: 1rem;
  font-size: 1.5rem;
}

.project-modal h3 {
  clear: right;
  padding-bottom: 2rem;
}
.project-photo-modal,
.container-modal {
  max-width: 700px;
  padding: 0 0.5rem;
  margin: 0 auto;
}
.project-photo-modal {
  width: 100%;
}
.shape:nth-child(odd) {
  animation: move-left 60s infinite;
}
.shape:nth-child(even) {
  animation: move-right 60s infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0) scale(3);
  }
  50% {
    transform: translate(20px, 20px) rotate(-240deg) scale(7);
  }
  100% {
    transform: translateX(0) rotate(0deg) scale(3);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0) scale(18);
  }
  50% {
    transform: translate(-50px, -10px) rotate(20deg) scale(12);
  }
  100% {
    transform: translateX(0) rotate(0deg) scale(18);
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  .projects-list {
    padding: 0 3rem;
  }
}
@media (min-width: 426px) and (max-width: 850px) {
  .project-title {
    padding: 2.5rem;
    font-weight: bold;
    line-height: 160%;
    padding-top: 7rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 851px) {
  .container {
    padding: 1.8rem;
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
  .projects-list li {
    width: 33.33%;
    padding-top: 33.33%;
  }
}
@media (min-width: 1024px) {
  .about-me .title {
    font-size: 4rem;
    font-weight: 900;
  }
  .about-me .description {
    font-size: 1.5rem;
  }
  .about-me .view-portfolio {
    font-size: 2rem;
  }
  .portfolio {
    max-width: 1200px;
    margin: auto;
    margin-top: 12rem;
  }

  .projects-list li:hover {
    filter: drop-shadow(3px 3px 2px #333);
  }
  .footer {
    font-size: 1.2rem;
  }
}
